#admin_login_form
{
width:300px;
margin:0 auto;
font-size: 16pt;
}

#admin_login_form_pole
{
height: 26px;
float:left;

}
.unedit_pole
{
width:100px;
text-align:right;
}
.edit_pole
{
width:200px;

}
#admin_login_form_submit
{
margin: 0 auto;

}
.login_botton
{
width: 150px;
}
