<h1>Termínová listina</h1>

<table id= "pubs" class="table table-bordered" style="max-width:80%; color:white">
  <thead>
    <tr>
      <th class="col-md-3">Datum</th>
      <th class="col-md-3">Událost</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class="col-md-1">8. 9. 2014 - 12. 9. 2014</td>
        <td class="col-md-6">Provozní praxe A4</td>
      </tr>
      <tr>
        <td class="col-md-1">16. 9. 2014 - 19. 9. 2014</td>
        <td class="col-md-6">Adaptační kurz 1. ročníků</td>
      </tr>
	<tr>
        <td class="col-md-1">18. 9. 2014</td>
        <td class="col-md-6">Žádost o uvolnění z TV</td>
    </tr>
    <tr>
        <td class="col-md-1">27. 9. 2014 - 29. 9. 2014</td>
        <td class="col-md-6">Podzimní prázdniny</td>
    </tr>
    <tr>
        <td class="col-md-1">6. 11. 2014</td>
        <td class="col-md-6">Soutěž v psaní na klávesnici</td>
    </tr>
    <tr>
        <td class="col-md-1">19. 11. 2014</td>
        <td class="col-md-6">Pedagogická rada 1. čtvrtletí<br>Třídní schůzky 16:00 - 18:00</td>
    </tr>
    <tr>
        <td class="col-md-1">28. 11. 2014</td>
        <td class="col-md-6">Den otevřených dveří</td>
    </tr>
    <tr>
        <td class="col-md-1">1. 12. 2014</td>
        <td class="col-md-6">Přihlášky k maturitní zkoušce</td>
    </tr>
    <tr>
        <td class="col-md-1">18. 12. 2014</td>
        <td class="col-md-6">Vánoční dílny</td>
    </tr>
    <tr>
        <td class="col-md-1">19. 12. 2014</td>
        <td class="col-md-6">Vánoční představení DS školy</td>
    </tr>
    <tr>
        <td class="col-md-1">20. 12. 2014 - 4. 1. 2015</td>
        <td class="col-md-6">Vánoční prázdniny</td>
    </tr>
    <tr>
        <td class="col-md-1">27. 1. 2015</td>
        <td class="col-md-6">Uzavření klasifikace 1. pololetí</td>
    </tr>
    <tr>
        <td class="col-md-1">28. 1. 2015</td>
        <td class="col-md-6">Pedagogická rada 1. pololetí</td>
    </tr>
    <tr>
        <td class="col-md-1">29. 1. 2015</td>
        <td class="col-md-6">Vysvědčení za 1. pololetí</br>Třídní schůzky 14:00 - 15:00</td>
    </tr>
    <tr>
        <td class="col-md-1">30. 1. 2015</td>
        <td class="col-md-6">Pololetní prázdniny</td>
    </tr>
  </tbody>
</table>
