<table id= "pubs" class="table table-bordered" style="max-width:80%; color:white">
  <thead>
    <tr>
      <td colspan="8"><h1 style="font-size:25pt;text-align:center"><b>Rozvrh hodin</b></h1></td>
    </tr>
    <tr>
      <th>Den</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
    </tr>
  </thead>

  <tbody>
        <tr>
        <td>Po</td>
        <td>Ú</td>
        <td>Ú</td>
        <td>AJ</td>
        <td>AJ</td>
        <td>EP</td>
        <td>IT</td>
        <td  colspan="2"></td>
        </tr>
        <tr>
        <td>Út</td>
        <td>ÚP</td>
        <td>ÚP</td>
        <td>AJ</td>
        <td>EP</td>
        <td>ČJ</td>
        <td>ČJ</td>
        <td  colspan="2"></td>
        </tr>
        <tr>
        <td>St</td>
        <td>NJ</td>
        <td>NJ</td>
        <td>M</td>
        <td>E</td>
        <td>E</td>
        <td>TV</td>
        <td>TV</td>
        </tr>
        <tr>
        <td>Čt</td>
        <td>Ú</td>
        <td>Ú</td>
        <td>ČJ</td>
        <td>AJ</td>
        <td>EP</td>
        <td>ÚP</td>
        <td  colspan="2"></td>
        </tr>
        <tr>
        <td>Pá</td>
        <td>M</td>
        <td>M</td>
        <td>P</td>
        <td>P</td>
        <td>NJ</td>
        <td>ON</td>
        <td  colspan="2"></td>
        </tr>
      </tbody>
</table>
