<table id= "pubs" class="table table-bordered" style="max-width:80%; color:white">
  <thead>
    <tr>
      <td colspan="8"><h1 style="font-size:25pt;text-align:center"><b>Rozvrh hodin</b></h1></td>
    </tr>
    <tr>
      <th>Den</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
    </tr>
  </thead>

  <tbody>
        <tr>
        <td>PO</td>
        <td>Ú</td>
        <td>Ú</td>
        <td>AJ</td>
        <td>AJ</td>
        <td>Ep</td>
        <td>It</td>
        <td  colspan="2"></td>
        </tr>
        <tr>
        <td>ÚO</td>
        <td>Úp</td>
        <td>Úp</td>
        <td>AJ</td>
        <td>Ep</td>
        <td>Čj</td>
        <td>Čj</td>
        <td  colspan="2"></td>
        </tr>
        <tr>
        <td>St</td>
        <td>Nj</td>
        <td>Nj</td>
        <td>M</td>
        <td>E</td>
        <td>E</td>
        <td>Tv</td>
        <td>Tv</td>
        </tr>
        <tr>
        <td>Čt</td>
        <td>Ú</td>
        <td>Ú</td>
        <td>Čj</td>
        <td>AJ</td>
        <td>Ep</td>
        <td>Up</td>
        <td  colspan="2"></td>
        </tr>
        <tr>
        <td>Pá</td>
        <td>M</td>
        <td>M</td>
        <td>P</td>
        <td>P</td>
        <td>N</td>
        <td>On</td>
        <td  colspan="2"></td>
        </tr>
      </tbody>
</table>
