/*Pro vše*/
* {
margin:0; /*vnější odsazení*/
padding:0;/*vnitřní odsazení*/
}

html,body {
height:100%;
width:100%;
font-size:11pt;
text-align: center; /* _____ <- IE6 vycentruje obsah (#obal) */
background-color:#0000A0;
color:white;
font-family:arial;
}
/*celý div*/
#obal {
position: relative;
top:10px;
width: 810px;

/* !!!!
margin: 20px auto 0 auto; >>> nemůžeš nastavit výšku 100% a ještě přidat horní okraj 20px -> výška obalu přesáhne výšku okna
*/
margin: 0 auto;
text-align: left;
height: 100%; /*____________ <- IE6 nastaví min-height tímto způsobem */
min-height: 100%; /*________ <- protože tomuto nerozumí */
}
body>#obal {height: auto} /* <- jiné než IE6 nesmí mít 100%height */
 
 /*zápatí*/
#dno {
position:absolute;
left:0;
width:100%;
height:40px;
bottom: 0;
text-align:center;
border-top-style:solid;
border-top-color:white;
}

/*odkazy*/
a:link {color: white;}
 a:visited {color: white}
 a:active {color: white}
 a:hover {background-color: #CC3300;}
/*Header*/
header
{
margin:0 auto;
text-align:center;
border-bottom-style:solid;
border-bottom-color:white;
font-size:20pt;
}
.index
{
text-decoration:none;
}
/*body*/
#left
{
text-align:left;
width: 200px;
display:inline-block;

}
#right
{
width:600px;
display:inline-block;
border:none;
min-height:100%;
vertical-align:top;
text-align:center;
border-left-style:solid;
border-left-color:white;
}
#skola-seznam
{
margin:0px;
}
li{
  margin-left:25px;
  }

/*kontakty*/
#contacts_pole
{
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
background-color:#000080;
border-style:solid;
width:280px;
height: 100px;
display:inline-block;
}

.off
{
border-style:solid;
border-color:red;
}
.class_mate
{
border-style:solid;
border-color:#000080;
}
#space
{
width:10px;
display:inline-block;
}
#udaje
{
text-align:left;
width: 250px;
margin: 0 auto;
}
#contacts
{
margin: 0 auto;
text-align:center;
}
/*Kronika*/
#kronika
{
width: 550px;
margin: 0 auto;
}
/*Prohlížení homeworks*/
#homeworks_wiev
{
margin:0 auto;
text-align:left;
width:500px;
border-bottom-style:solid;
border-bottom-width:5px;
}
#homworks_add
{
margin:0 auto;
text-align:left;
width:500px;
}

#homework_admin
{
width:650px;
margin: 0 auto;
}

#homework_50px
{
width:50px;
}
#homework_150px
{
width:150px;
float:left;
}
/*Rozvrh hodin*/
/*Klasik*/
#row
{
width:600px;
}
#window
{
width:45px;
display:inline-block;
border-style:solid;
}
/*administrace - výpisky zobrazení*/
#vypisky_admin_wiev
{
text-decoration:none;
}