h1#title
		{
			margin: auto;
			text-align: center;
		}
#main
		{
			margin: 0 auto;
			width: 800px;
		}

#right-box
			{
				float: left;
				width: 200px;
				margin-top: 50px;
			}
#left-box
			{
				float: left;
				width: 550px;
				margin-top: 50px;
				text-align: left;
			}